# ============================
#  DATASET
# ============================
chest_xray/

# ============================
#  VIRTUAL ENV
# ============================
venv/

# ============================
#  PYTHON CACHE & ARTIFACTS
# ============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.tmp

# ============================
#  MODEL FILES
# ============================
*.hdf5
*.sav
*.pt
*.pth

# ============================
#  ENVIRONMENT / SETTINGS
# ============================
.env
*.env

# ============================
#  OTHER COMMON IGNORES
# ============================
.DS_Store
Thumbs.db
